body {
    background-color: #F2B3BE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

#konami-logo {
    padding-top: 80px;
}

#konami-code {
    padding-top: 70px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

